.error-input {
    border-color: #b94a48;
    margin-left: 5px;
}

.error-messages {
    color: #b94a48;
}

.login-field {
	margin-bottom: 16px
}

.login-form {
	background-color: #f7f2d4;
    padding: 30px 70px;
    margin: 30px 0px;
}